body {
  font-family: 'Arial', sans-serif;
  margin-top: 100px; /* Adjust for the fixed navbar */
}

.navbar {
  background-color: #b3dac1;
}

.navbar-nav a {
  color: #5a5a5a;
  font-weight: bold;
}

.welcome-page {
  text-align: center;
  margin-top: 50px;
}

.welcome-page h1 {
  font-size: 2.5rem;
  color: #4CAF50;
}

.welcome-page p {
  font-size: 1.2rem;
}

.welcome-page .btn {
  margin-top: 20px;
}

.view-post {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.view-post h1 {
  font-size: 2rem;
}

.view-post h3 {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
}

button {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
/* Custom class to add spacing between buttons */
.button-spacing {
  margin-right: 8px;  /* Adjust this value for the desired space between buttons */
}

/* Optional: Remove the margin from the last button */
.button-spacing:last-child {
  margin-right: 0;
}
